
.header-container {
    margin: 0;
    padding: 0;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
}

.header-title {
    display: inline-block;
    color: #eee;
    cursor: pointer;
}

.input-field {
    width: 80%;
    padding: 15px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 18px;
}

.search-button {
    padding: 10px;
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
    color: white;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
}